body {
width: 390px;
 margin:0px; 
-webkit-user-select: none;   
}

input {
    width:350px;
    margin: 0px;
    border: 5px solid #518ef0;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
}
input:focus {
    outline: none;
}
#qrcode {
    width:390px;
    height:390px;
    margin:0px;
}
#btn_save {
    width:100%;
    margin: 0px;
    background: #518ef0;
    padding: 8px 14px 10px;
    border:1px solid #518ef0;
    cursor:pointer;
    /*style the text*/
    font-size:1.5em;
    letter-spacing:.1em;
    color: #fff;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
 #btn_save:hover, #btn_save:focus {
    color:#dfe7ea;
}